<div class="px-2 py-4 md:px-4 flex items-center bg-white/40">
    <%= link_to root_path do %>
        <div class="text-sm md:text-2xl font-bold text-pink-800 hover:text-pink-500 transition-all">Graham Family</div>
    <% end %>
    <div class="flex-auto"></div>
    <ul class="flex items-center text-xs md:text-xs font-bold">
        <li class="ml-2 md:ml-4 uppercase tracking-widest">
            <%= link_to ella_index_path, class: "text-pink-800 hover:text-pink-500 transition-all" do %>Ella<% end %>
        </li>
        <li class="ml-2 md:ml-4 uppercase tracking-widest">
            <%= link_to madisyn_index_path, class: "text-pink-800 hover:text-pink-500 transition-all" do %>Madisyn<% end %>
        </li>
        <li class="ml-3 md:ml-4">
            <%= link_to results_path, class: "button--primary mx-auto text-xs font-normal" do %>Madisyn Predictions<% end %>   
            <!-- <%= link_to predictions_path, class: "button--primary mx-auto text-xs font-normal", data: { turbo_frame: "modal"} do %>Guess the Date<% end %>    -->
        </li>
    </ul>
</div>