<div class="w-full relative">
  <% if notice.present? %>
    <div class="w-full px-3">
      <p class="py-2 px-3 bg-green-100 mb-5 text-green-500 font-medium rounded-lg inline-block w-full text-center box-border" id="notice"><%= notice %></p>
    </div>
  <% end %>
  
  <%= params[:code] %>
  <div class="relative">
    <%= image_tag "family_photo_dark.jpg", class: "w-full" %>
    <div class="font-serif font-light text-center absolute bottom-8 text-white mx-auto left-0 right-0" style="font-size: 10vw; line-height: 1;">The Graham Family</div>
  </div>
  <div class="bg-black inline-block w-full">
    <div class="w-full max-w-4xl mx-auto mb-4 md:mb-16 mt-0 text-xl text-slate-100 p-6 text-center md:text-left">
      We are the Graham's. Small little clan with some incredible friends and family around us here in St. Clair County, Michigan. High probability you know us (thus the reason you've found this page), but if you don't, we're glad you're here. We're excited to share our journey with you.
    </div>
  </div>
  <div class="grid grid-cols:1 md:grid-cols-2 gap-3 m-3">
      <%= image_tag "photo-052.jpg", alt: "", class: "h-full" %>
      <div class="grid grid-cols:1 md:grid-cols-2 gap-3">
        <%= image_tag "photo-079.jpg", alt: "", class: "" %>
        <%= image_tag "photo-108.jpg", alt: "", class: "" %>
        <%= image_tag "photo-110.jpg", alt: "", class: "" %>
        <%= image_tag "photo-063.jpg", alt: "", class: "" %>
      </div>        
  </div>

  <div class="grid grid-cols:1 md:grid-cols-4 gap-3 m-3 mt-0">
    <%= image_tag "Family2023-2.jpg", alt: "", class: "" %>
    <%= image_tag "Family2023-1.jpg", alt: "", class: "" %>
    <%= image_tag "Family2023-3.jpg", alt: "", class: "" %>
    <%= image_tag "Family2023-4.jpg", alt: "", class: "" %>
  </div>    
</div>
